extend layout 

block content 
    h3 #{schedule.scheduleName}
    p 作成者: 
        a(href="/schedules") #{schedule.user.username}
    p(style="white-space:pre;") #{schedule.memo}
    h3 出欠表
    table
        tr
            th 予定
            each user in users
                th #{user.username}
        each candidate in candidates
            tr
                td #{candidate.candidateName}
                each user in users
                    - const availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
                    - const availabilityLabels = ['欠席', '？', '出席'];
                    td
                        if user.isSelf
                            button(
                                data-schedule-id=schedule.scheduleId
                                data-candidate-id=candidate.candidateId
                                data-availability=availability
                            ).ava-toggle-btn #{availabilityLabels[availability]}
                        else 
                            p #{availabilityLabels[availability]}
        tr
            th コメント
            each user in users
                td
                    p #{commentMap.get(user.userId)}
